/Makefile
src/Makefile
shared/glfw**/Makefile
shared/imgui**/Makefile

build
src/build
/lib

*.a
*.o
*.swp
*.swo
*.idea
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcscmblueprint
*.DS_Store
imgui.ini

src/RayTracer
